<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6"></provider>
      <!--<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />-->
    </providers>
  </entityFramework>
  
<!--<connectionStrings><add name="Razvlekator" connectionString="server=sql12.freesqldatabase.com;user id=sql12166120;password=QTqiFcfa5s;persistsecurityinfo=True;database=sql12166120" providerName="MySql.Data.MySqlClient" /></connectionStrings></configuration>-->
<connectionStrings>
  <!--<add name="Razvlekator" connectionString="server=d246208b-b4a9-496a-ac61-a74c006198ca.mysql.sequelizer.com;user id=dvahflucjjkuobzu;password=tLL4tbZ6FMzRSgieoULQqphfpwKKiCRXQGuoUnuf8cSFaeupotJWxpFdDFN6xpWd;persistsecurityinfo=True;database=dbc47cf13500994315bba7a73e01306b72" providerName="MySql.Data.MySqlClient" />-->
  <add name="Razvlekator" connectionString="server=d246208b-b4a9-496a-ac61-a74c006198ca.mysql.sequelizer.com;user id=dvahflucjjkuobzu;password=tLL4tbZ6FMzRSgieoULQqphfpwKKiCRXQGuoUnuf8cSFaeupotJWxpFdDFN6xpWd;persistsecurityinfo=True; database=dbd246208bb4a9496aac61a74c006198ca; Charset=utf8;" providerName="MySql.Data.MySqlClient" />
  <!--<add name="Razvlekator" connectionString="server=127.0.0.1;user id=root;password=;persistsecurityinfo=True; database=dbd246208bb4a9496aac61a74c006198ca; Charset=utf8;" providerName="MySql.Data.MySqlClient" />-->
</connectionStrings>
</configuration>

